<div class="container">
  <a ui-sref="lists">Back to my lists</a>

  <!-- HEADER AND TODO COUNT -->
  <div class="jumbotron text-center">
    <h1>{{list.name}} <span class="label label-info" ng-show="userSession.user">{{ todos.length }}</span></h1>
  </div>

  <!-- TODO LIST -->
  <div id="todo-list" class="row" ng-show="userSession.user">
    <div class="col-sm-4 col-sm-offset-4">

      <!-- LOOP OVER THE TODOS IN $scope.todos -->
      <div class="container" ng-repeat="todo in todos">
        <div class="todo-item col-xs-10" ng-click="beginEditToDo(todo._id)">
          <div ng-hide="isBeingEdited(todo._id)">
            {{ todo.text }}
          </div>
          <div ng-show="isBeingEdited(todo._id)">
            <input type="text" class="form-control input-sm" ng-model="todo.text" required>
          </div>
        </div>
        <div class="col-xs-2 icon-button-sm" ng-click="deleteToDo(todo._id)" ng-hide="isBeingEdited(todo._id)">
          <i class="fa fa-trash"></i>
        </div>
        <div class="col-xs-2 icon-button-sm" ng-click="updateToDo(todo)" ng-show="isBeingEdited(todo._id)">
          <i class="fa fa-check"></i>
        </div>

        <!-- <label>
          <input type="checkbox" ng-click="deleteToDo(todo._id)"> {{ todo.text }}
        </label> -->
      </div>

    </div>
  </div>

  <!-- FORM TO CREATE TODOS -->
  <div id="todo-form" class="row" ng-show="userSession.user">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <form name="toDoForm" ng-submit="createTodo(toDoForm.$valid)" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : errorAttempt }">
          <input id="toDoInput" name="newToDo" type="text" class="form-control input-lg text-center" placeholder="What do you want to do?" ng-model="formData.text" required>
        </div>
        <div class="failed-auth" ng-show="errorAttempt">
          <p>To-Do cannot be blank</p>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Add</button>
      </form>
    </div>
  </div>
</div>