<div class="container">
  <div class="jumbotron text-center">
	<h1>{{user.firstName}} {{user.lastName}}'s To-Do Lists</h1>
  </div>
  <ul id="user-lists" class="nav nav-pills nav-stacked" ng-repeat="list in lists">
  	<li role="presentation" class=""><a ui-sref="to-do-list({ listId:list._id })">{{list.name}}</a></li>
  </ul>
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2 text-center">
  	  <button id="logout-button" type="submit" class="btn btn-danger btn-lg" ng-click="logout()">Logout</button>
  	</div>
  </div>
</div>