/* ==========================
 * CSS for the entire app 
 */

html { 
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

#todo-list {
	margin-bottom: 30px;
}

#todo-form {
	margin-bottom: 30px;
}

.login-form-group input {
	margin-bottom: 10px;
}

#logout-button {
	margin-top: 10px;
}

#user-lists {
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
}

#list-form {
	margin-bottom: 30px;
}